table {
    width: 100%;
}

th,td{
    padding: 10px;
    text-align: left;
}

.main{
    margin: 20vh;
    padding: 5vh;
    border: 2px solid black;
    /* background: rgba(211, 211, 211, 0.511); */

    margin-top: 5vh;
    padding-top: 0px;
    font-size: 3vh;
}

.main h1{
    text-align: center;
    background: gray;
}

.skills li {
    display: inline-block;
}

.skills ul li{
    margin-right: 50px;
}

@media (max-width:2800px){
    .main{
        margin: 50px;
        font-size: 25px;

    }
}

@media (max-width:900px){
    .main{
        margin: 10px;
        font-size:11px;
        .skills ul li{
            margin-right: 10px;
        }
    }
}